[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "*"
twine = "*"
coveralls = "*"
mock = "*"
pylint = "*"
pytest-cov = "*"
"jinja2" = "*"
pyyaml = "*"
requests = "*"

[packages]

requests = "*"

